<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ mysql_db }}' );

/** MySQL database username */
define( 'DB_USER', '{{ mysql_user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ mysql_password }}' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/** Filesystem access **/
define('FS_METHOD', 'direct');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
/**
 * define('AUTH_KEY',         '82UwpChNCd#>QN:;Hof5]}:~2j4jGRj!#U`[t|(o,_^K[%2bcg#oW>D_bdbgJ:3n');
 * define('SECURE_AUTH_KEY',  'kODrU*F]N+e#t(<rru4`1qD||{]4*bM$RjiC)-y:?j%u|ghRHB|*{_:R@3$IfZu<');
 * define('LOGGED_IN_KEY',    '-SV/mV^%ui<2.u+i%zfA$?2}V|.t#gv&;0g(P,m6+HN,;]mM/2rs!$FAfh(b0(,^');
 * define('NONCE_KEY',        '[dPK7C?5^+Ctb8QrD[#vVpLkV2u8:3tt6O@pl]-_vNWqNfMOts39{bo>|2l;_g@k');
 * define('AUTH_SALT',        'KXf.)u1RU.hhi$K|:}0@aGlO2/OZQZ=O*Sv[w45I+}68-c*Wb&#1kD/4%BX>=N&]');
 * define('SECURE_AUTH_SALT', '-5)K5:M6fy>>MGuG3u|QGaaMemo}F+#?DegWXuF-7+-~$1B+`j,h7bR6+ e{oHh~');
 * define('LOGGED_IN_SALT',   'C<c$r(*Fc==GI`mfZ?9%A YC{7|&QD-^<GOAJWnJsXG6NF%m)Qv3i,=T~j}]ufdT');
 * define('NONCE_SALT',       '{[gz`/Nj wN||Y+z02w+1,oyu)uvu)h v+`pSejS<KpdWd+{`sR$Hja9A)$EIGzT');
 */

define('AUTH_KEY',            '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('SECURE_AUTH_KEY',     '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('LOGGED_IN_KEY',       '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('NONCE_KEY',           '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('AUTH_SALT',           '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('SECURE_AUTH_SALT',    '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('LOGGED_IN_SALT',      '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');
define('NONCE_SALT',          '{{ lookup('password','/dev/null chars=ascii_letters length=64') }}');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', dirname( __FILE__ ) . '/' );
    }

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );